.footer {
    background: #e6e6e6;
    padding: 60px 0px 20px 0px;
    .row:first-child {
        margin-bottom: 40px;
    }
    .footer-logo{
        width: 189px;
    }
    ul.menu {
        list-style: none;
        padding-left: 0px;
        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }
    .widgettitle {
        color: #000;
        font-size: 16px;
        text-transform: unset;
        margin: 0;
        font-family: Montserrat;
        font-weight: 600;
        padding-bottom: 14px;
    }
    a{
        color: #686868;
        font-size: 13px;
    }
    a:hover {
        color: #174896;
        text-decoration: none;
    }
    p.social-wraps.widgettitle {
        padding-left: 16px;
    }
    span.logo-social img {
        width: 30px;
    }
    span.logo-social {
        padding: 0px 6px;
    }

    .vc_custom_1547707398777 {
        margin-bottom: 0px !important;
        background-color: #343434 !important;
    }

    .foot-txt p {
        font-size: 13px;
    }

    .foot-txt2 {
        padding-top: 15px;
        font-size: 13px;
    }
}
