<div class="footer">
  <div class="innerFooter">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <figure class="wpb_wrapper vc_figure">
            <a href="/" target="_self"
              ><img class="footer-logo" src="assets/img/icon.svg"
            /></a>
          </figure>
        </div>
        <div class="col-md-3">
          <div class="widget widget_nav_menu">
            <h2 class="widgettitle">Quick Links</h2>
            <div class="menu-solv-footer-quicklinks-container">
              <ul id="menu-solv-footer-quicklinks" class="menu">
                <li
                  id="menu-item-1693"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1693"
                >
                  <a href="https://www.solvezy.com/about-us/">About Us</a>
                </li>
                <li
                  id="menu-item-1691"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1691"
                >
                  <a href="https://www.solvezy.com/careers/">Careers</a>
                </li>
                <li
                  id="menu-item-1692"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1692"
                >
                  <a href="https://www.solvezy.com/press/">Press</a>
                </li>
                <li
                  id="menu-item-1694"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1694"
                >
                  <a href="https://www.solvezy.com/contact-us/">Contact Us</a>
                </li>
                <li
                  id="menu-item-3805"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3805"
                >
                  <a href="https://www.solvezy.com/blog/">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget widget_nav_menu">
            <h2 class="widgettitle">Services</h2>
            <div class="menu-solv-footer-other-services-container">
              <ul id="menu-solv-footer-other-services" class="menu">
                <li
                  id="menu-item-1695"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1695"
                >
                  <a href="https://www.solvezy.com/business-loans/"
                    >Business Loans</a
                  >
                </li>
                <li
                  id="menu-item-3759"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3759"
                >
                  <a href="https://www.solvezy.com/dealer-finance/"
                    >Dealer Finance</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p class="social-wraps widgettitle">Follow us:</p>
          <div class="wpb_wrapper">
            <div class="social text-left social-wraps">
              <div class="inner-social-wraps">
                <span class="logo-social">
                  <a
                    href="https://www.facebook.com/solvezy/"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    ><img
                      class="wp-image-1199"
                      src="assets/img/fb-icon.png"
                      alt="Facebook Page of Solv"
                  /></a>
                </span>
                <span class="logo-social">
                  <a
                    href="https://www.youtube.com/channel/UCzjvmaJq7ALFFfVUaqJsWQw"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    ><img
                      src="assets/img/yt-icon.png"
                      alt="Youtube Channel Link of Solv"
                      width="25"
                    />
                  </a>
                </span>
                <span class="logo-social">
                  <a
                    href="https://www.instagram.com/solv_india/"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    ><img
                      class=" wp-image-1197"
                      src="assets/img/ig-icon.png"
                      alt="Inatagram Page of Solv"
                      width="25"
                    />
                  </a>
                </span>
                <span class="logo-social">
                  <a
                    href="https://www.linkedin.com/company/solv-india/"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    ><img
                      class="wp-image-1196"
                      src="assets/img/ln-icon.png"
                      alt="LinkedIn Page of Solv"
                      width="25"
                  /></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="foot-txt">
                <div class="wpb_wrapper">
                  <p>
                    Registered as Standard Chartered Research and Technology
                    India Pvt. Ltd.
                  </p>
                </div>
              </div>
              <div
                class="vc_empty_space  vc_custom_1547707398777"
                style="height: 1px"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row foot-txt2">
        <div class="col-sm-12">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <p style="text-align: right; opacity: 0.4;">
                    <a href="/terms-of-services/">Terms of Services</a> |
                    <a href="/privacy-policy">Privacy Policy</a> | Copyright ©
                    2020 All Rights Reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
