.card-message-container {
  position: absolute;
  top: 60px;
  min-height: 200px;
  background-color: #fff;
  padding: 32px;
  border-radius: 26px;
  text-align: center;
  .card-image {
    text-align: center;
    margin-bottom: 32px;
    img {
      height: 100px;
      width: 100px;
    }
  }
  .card-info-message {
    font-size: 24px;
    text-align: center;
    color: #003399;
    margin-bottom: 12px;
  }
  .card-heading {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
  }
  .card-text {
    color: #454545;
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 12px;
  }
  .card-bottom-text {
    color: #003399;
    padding: 8px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px)
{
  .card-message-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 25%;
  }

  
}
