<div class="card-message-container">
    <div class="card-image">
        <img [src]="cardMessage.icon" alt="">
    </div>
    <div *ngIf="cardMessage.cardInfoMsg" class="card-info-message">
        {{cardMessage.cardInfoMsg}}
    </div>
    <div class="card-heading">
        {{cardMessage.heading}}
    </div>
    <div class="card-text">
        {{cardMessage.text}}
    </div>
    <div class="card-bottom-text" *ngIf="cardMessage.bottomText">
        {{cardMessage.bottomText}}
    </div>
</div>