<div class="container">
    <div class="row text-center benifits-row">

        <div class="col-md-12">
            <h2 class="allp_heading"><strong>Benifits
            </strong></h2>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        Unsecured loans <br> of upto ₹50 Lakhs
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 ">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        No hidden costs
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 ">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        Competitive<br>
                interest rates
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 ">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        0%<br>
                        processing fee
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        0% pre-payment &<br>
                        foreclosure charges
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        100% online<br>
                        application process
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        Minimal<br>
                        paperwork
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="wpb_wrapper">
                <div class="allp_benefits_items">
                    <div class="wpb_wrapper">
                        Pre- and post-
                        disbursal support
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
