.benifits-row{
    margin-top: 50px;
    margin-bottom: 50px;
    .allp_benefits_items {
        border: 1px solid #ddd;
        min-height: 75px;
        padding: 0px 30px;
        vertical-align: middle;
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        border-radius: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        box-shadow: 0px 1px 3px #ccc;
        text-align: center;
        display: grid;
        margin: 20px;
    }
}
