<div class="container-fluid">
  <app-header></app-header>
  <app-main-campaign></app-main-campaign>
  <app-benefits></app-benefits>
  <app-customer-accolades></app-customer-accolades>
  <app-footer></app-footer>
</div>