<div class="container">
  <div class="row">
    <div class="accolades-container">
      <div>
        <h2 class="allp_heading">
          <strong>What our customers say</strong>
        </h2>
      </div>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <div class="testimonial">
                <strong class="abv_quo">“</strong>
                SOLV helped me get a business loan when I needed it the most.
                The entire process was quick and simple. My loan was approved
                within 24 hours. Customer service and support provided by the
                SOLV team was excellent. I am very satisfied with their service.
                <strong class="belo_quo">„</strong>
              </div>
            <p class="text-right cust-name">
              – Niranjan MVS, Proprietor High n Hungry
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <div class="testimonial">
                <strong class="abv_quo">“</strong>
                SOLV's services are quite fascinating. Their process was
                extremely smooth and quick. The customer service provided was
                pleasantly quick and responsive. Would recommend SOLV's services
                to anyone who would be looking to gauge their list of products.
                <strong class="belo_quo">„</strong>
              </div>
            <p class="text-right cust-name">
              – Anil Paremal, Proprietor - ShakeItOff
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
