.container {
  margin-bottom: 50px;
  .accolades-container {
    .carousel {
      background: #174896;
      margin-top: 20px;
    }
    .carousel-item {
      h2 {
        color: #fff;
      }
    }
    .picsum-img-wrapper {
      margin: 0 auto;
      width: 80%;
      padding: 24px;
      min-height: 380px;
      display: grid;
      align-items: center;
      .testimonial {
        font-size: 1.4em;
        color: #fff;
        .abv_quo {
          font-size: 50px;
          position: relative;
          color: #f60;
          line-height: 0px;
          top: 10px;
          left: -5px;
        }
        .belo_quo {
          font-size: 50px;
          position: relative;
          color: #f60;
          line-height: 0px;
          top: -10px;
          left: 4px;
        }
      }
      .cust-name {
        color: #fff;
      }
    }
    .carousel-indicators {
      bottom: -10%;
    }
    .carousel-indicators .active {
      background-color: #333;
    }
    .carousel-indicators li {
      width: 10px !important;
      height: 10px !important;
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 50%;
    }
    .carousel-control-prev {
      left: -10%;
    }
    .carousel-control-next {
      right: -10%;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      background: #333;
    }
  }
}
