<div class="main-campaign">
    <div class="banner-container">
        <div class="allp_banner_txt">
            <h2><span class="newLine">Collateral-Free,</span><span class="newLine">Tension-Free.</span></h2>
            <h4><span class="newLine">Grow your business</span><span class="newLine">with quick loans at</span><span
                    class="newLine"><b>0% processing fees<sup>*</sup>.</b></span></h4>
        </div>
        <div class="campaign-form-container">
            <div *ngIf="primaryRegistration">
                <div class="form-heading">
                    Sign Up to Apply for a Business Loan
                </div>
                <form class="campagin-form">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" name="fullName" id="fullName"
                            aria-describedby="fullName" placeholder="Enter your full name as per PAN*"
                            [(ngModel)]="fullName" />
                    </div>

                    <div class="form-group">
                        <label for="businessName">Business Name</label>
                        <input type="text" class="form-control" name="businessName" id="businessName"
                            placeholder=" Enter your business name here*" [(ngModel)]="businessName" />
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="form-control" name="emailAddress" id="emailAddress"
                            placeholder="Enter your email address here" [(ngModel)]="emailAddress" />
                    </div>
                    <div class="form-group">
                        <label for="mobileNumber">Mobile Number</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="country-select" name="countryCode" id="countryCode"
                                    [(ngModel)]="countryCode">
                                    <option value="91">IND +91</option>
                                    <!-- <option value="1">USA +1</option> -->
                                </select>
                            </div>
                            <input type="text" class="form-control mobile-input" name="mobileNumber" id="mobileNumber"
                                placeholder="Mobile number" aria-describedby="mobileNumber" required
                                [(ngModel)]="mobileNumber" />
                        </div>
                    </div>
                    <div class="form-group" *ngIf="otpSent">
                        <label for="otp">OTP</label>
                        <div class="input-group">
                            <input type="text" maxlength="4" class="form-control otp-field"
                                [ngClass]="{'green-border': otpVerified && correctOTP, 'red-border': otpVerified && !correctOTP}"
                                name="otp" id="otp" placeholder="Enter OTP here" (keyup)="onOTPKey($event,'singUpOtp')"
                                [(ngModel)]="otpNumber" />
                            <span class="check-success" *ngIf="otpVerified && correctOTP"><img
                                    src="assets/img/sucess-tick.png" alt="SuccessTick"></span>
                            <span class="check-success" *ngIf="otpVerified && !correctOTP"><img
                                    src="assets/img/cross-tick.png" alt="Not valid tick"></span>
                            <div class="otp-msg">
                                <small class="text-muted" *ngIf="otpTimer>0"> Enter OTP within: {{otpTimer}}s </small>
                                <a href="#" class="isDisabled resend-text"
                                    [ngClass]="{'isDisabled': otpTimer>0,'resendOtp':otpTimer===0}" (click)="login()">
                                    Resend OTP </a>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block campaign-btn" *ngIf="!otpSent"
                        [disabled]="!fullName || !businessName || !mobileNumber" (click)="sendOTP()">
                        Send OTP
                    </button>
                    <!-- <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="proceed()">
                        Proceed
                    </button> -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block campaign-btn" *ngIf="otpSent"
                        [disabled]="!correctOTP" (click)="proceed()"> Proceed
                    </button>
                </form>
            </div>

            <div *ngIf="secondaryRegistration">
                <div class="form-heading">
                    Check Your Business Loan Eligibility
                </div>
                <form class="campagin-form">
                    <div class="form-group">
                        <label for="panNumber">PAN</label>
                        <input type="text" class="form-control" name="panNumber" id="panNumber"
                            aria-describedby="fullName" placeholder="Enter your 10 digit PAN" [(ngModel)]="panNumber" />
                        <small class="text-danger" *ngIf="inValidPAN"> Please enter valid PAN number </small>
                        <small class="text-danger" *ngIf="panChecked && !inValidPAN"> Entered pan is not a sole
                            propritor PAN
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block campaign-btn" *ngIf="!panVerified"
                        [disabled]="!panNumber" (click)="checkPAN()">
                        Verify PAN
                    </button>

                    <div *ngIf="panVerified">
                        <div class="form-group">
                            <label for="mobileNumberAsPAN">Mobile Number registered with bank</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="country-select" name="countryCodePan" id="countryCodePan"
                                        [(ngModel)]="countryCode">
                                        <option value="91">IND +91</option>
                                        <!-- <option value="1">USA +1</option> -->
                                    </select>
                                </div>
                                <input type="text" class="form-control mobile-input" name="mobileNumberAsPAN"
                                    id="mobileNumberAsPAN" placeholder="Mobile number"
                                    aria-describedby="mobileNumberAsPAN" required [(ngModel)]="mobileNumberAsPAN" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="otpSent">
                            <label for="otp">OTP</label>
                            <div class="input-group">
                                <input type="text" maxlength="6" class="form-control"
                                    [ngClass]="{'green-border': correctOTP}" name="otp" id="otp"
                                    placeholder="Enter OTP here" (keyup)="onOTPKey($event,'CBOtp')"
                                    [(ngModel)]="otpNumber" [disabled]="correctOTP" />
                                <div class="otp-msg">
                                    <small class="text-danger"> OTP can be verified only once. Please make sure you enter the correct OTP </small>
                                </div>
                                <div class="input-group-append" *ngIf="otpNumber.length==4">
                                    <span class="input-group-text" *ngIf="correctOTP"> &#10003; </span>
                                    <span class="input-group-text" *ngIf="!correctOTP"> &#10005; </span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block campaign-btn" *ngIf="!otpSent"
                            [disabled]="!panNumber || !emailAddress || !mobileNumberAsPAN" (click)="sendCBOtp()">
                            Send OTP
                        </button>
                        <button type="submit" class="btn btn-primary btn-lg btn-block campaign-btn" *ngIf="otpSent"
                            (click)="checkEligibility()">
                            Check Eligibility
                        </button>
                    </div>
                </form>
            </div>

            <div *ngIf="errorMsgCard">
                <app-message-card [message]="cardMessage"></app-message-card>
            </div>

            <!-- <div *ngIf="loanEligible">
                You're already registered with Solv.
            </div>
            <div *ngIf="loanNotEligible">
                You're already registered with Solv.
            </div>
            <div *ngIf="loanNotExist">
                You're already registered with Solv.
            </div> -->
        </div>
        <p id="banner_limitedtime">*Limited time offer</p>
    </div>
</div>