.main-campaign {
  .banner-container {
    .otp-field {
      width: 100%;
    }
    .otp-msg {
      width: 100%;
      min-height: 23px;
    }
    a.resend-text {
      position: absolute;
      right: 0px;
      color: #ff6600;
      font-size: 14px;
      text-decoration: underline;
    }
    a.resend-text.isDisabled {
      opacity: 0.26;
    }
    .form-heading {
      height: 60px;
      text-align: center;
      padding: 24px 0px;
      color: #003399;
      font-family: "Work Sans", sans-serif;
      font-weight: bold;
      background: #fbfbfb;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    .campagin-form {
      padding: 20px;
      .country-select {
        color: #003399;
        text-align: right;
      }
      .country-code-input {
        position: relative;
      }
      .green-border {
        border: 2px solid #27ae60;
      }
      .red-border {
        border: 2px solid #ba0101;
      }
      .btn-block {
        margin: 0 auto;
      }
      .mobile-input {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
      @supports (-webkit-appearance:none) {
        select.country-select {
          border-top-left-radius: 26px !important;
          border-bottom-left-radius: 26px !important;
          font-size: 14px;
          padding-left: 12px;
        }
      }
      select.country-select {
        border-top-left-radius: 26px !important;
        border-bottom-left-radius: 26px !important;
        font-size: 14px;
        padding-left: 12px;
      }
      input {
        height: 32px;
        border: 1px solid #cccccc;
        border-radius: 26px !important;
        display: block;
        color: #003399;
        font-size: 14px;
        font-weight: bold;
      }
      input::placeholder {
        font-size: 14px !important;
        color: #ccc !important;
        font-weight: 100 !important;
      }
      small.text-muted {
        padding-left: 12px;
      }
      span.check-success {
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 15;
      }
      label {
        font-weight: bold;
        font-size: 12px;
        padding-left: 12px;
      }
      .form-group {
        margin-bottom: 2px;
      }
    }
    #banner_limitedtime {
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: #fff;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
    }
  }
}

// Code for only desktop banner

@media only screen and (min-width: 769px) {
  .main-campaign {
    .banner-container {
      position: relative;
      width: 100%;
      min-height: 650px;
      background-image: url(/assets/img/banner_img.png);
      background-repeat: no-repeat;
      background-size: cover;
      .campaign-form-container {
        position: absolute;
        right: 5%;
        max-width: 350px;
        margin: 12px 0px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 54px #1143633d;
        border-radius: 12px;
        opacity: 1;
        width: 100%;
      }
      .allp_banner_txt {
        color: #fff;
        position: absolute;
        left: 5%;
        top: 10%;
        h2 {
          font-family: "Montserrat", sans-serif;
          line-height: 49px;
          letter-spacing: 1.43px;
          font-weight: 800;
          font-size: 40px;
          padding-bottom: 44px;
          margin-bottom: 0px;
        }
        h4 {
          letter-spacing: 0.86px;
          line-height: 36px;
        }
        span.newLine {
          display: block;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .allp_banner_txt {
    width: 100%;
    min-height: 240px;
    background-image: url(/assets/img/banner-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    padding-left: 2%;
    padding-top: 20px;
    h2 {
      font-family: "Montserrat", sans-serif;
      line-height: 27px;
      letter-spacing: 0.71px;
      font-weight: 800;
      font-size: 26px;
      padding-bottom: 19px;
      margin-bottom: 0px;
    }
    h4 {
      letter-spacing: 0.86px;
      line-height: 24px;
      font-size: 14px;
    }
    span.newLine {
      display: block;
    }
  }
}