// reset CSS

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.row {
  margin: 0;
  padding: 0;
  [class*="col-"] {
    margin: 0;
    padding: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.widgettitle {
  font-family: Montserrat;
}
.campaign-btn {
  width: 240px;
  height: 46px;
  margin-top: 10px !important;
  background: #003399 0% 0% no-repeat padding-box;
  border-radius: 26px;
}
.campaign-btn[disabled] {
  background: #003399;
  border: #003399;
  opacity: 0.26;
}
h2.allp_heading {
  color: #1c4995;
  font-family: Montserrat !important;
  font-weight: 600 !important;
  margin-top: 0px;
  position: relative;
  text-align: center;
  strong{
      background: #fff !important;
      z-index: 100000;
      position: relative;
      padding: 0px 10px;
      
  }
}
h2.allp_heading:after {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #174896;
  display: block;
  top: 51%;
  position: absolute;
  z-index: 100;
 
}

@media only screen and (max-width:600px)
{
  h2.allp_heading 
  {
   strong {
    font-size: 22px;
    position: relative;
    bottom: 4px;
  }
}

p#banner_limitedtime {
  position: absolute !important;
  top: 39% !important;
  font-size: 11px !important;
  left: 12px !important;
  bottom: inherit !important;
}

.brand-logo img {
  padding: 10px;
}

app-message-card {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #00000085;
  z-index: 10000000;
}

}